* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    min-height: 600px;
    display: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F18A00;




}  


.cabeza {
   height: 700px;
   width: 500px;
   background-color: #ffeaca;
   border-radius: 0 0 250px 250px;
   position: relative;
   z-index: 1;

}


.cabello {
    position: absolute;
    width: 500px;
    height: 150px;
    background-color: #3f2501;
    margin-top: -850px;
    z-index: 1;
}


.cabello::after{
    content: '';
    position: absolute;
    height: 150px;
    width: 500px;
    border-radius: 50%;
    top:75px;
    background-color: #ffeaca;
}

.cabello::before {
    content: '';
    position: absolute;
    top: -100px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: #3f2501;
    border-radius: 24% 76% 49% 51% / 41% 42% 58% 59% ;

}

.cejasright {
    width: 180px;
    height: 30px;
    background-color: #3f2501;
    border-radius: 90% 10% 0% 100% / 100% 100% 0% 0%  ;
    position: absolute;
    margin-top: -220px;
    margin-left: -210px;
    z-index: 1;
}

.cejasleft {
    width: 180px;
    height: 30px;
    background-color: #3f2501;
    border-radius: 10% 90% 0% 100% / 100% 100% 0% 0%  ;
    position: absolute;
    margin-top: -220px;
    margin-left: -475px;
    z-index: 1;
}


.ojosleft {
    width: 120px;
    height: 120px;
    background: white;
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    position: absolute;
    transform: rotate(45deg);
    margin-top:-200px;
    margin-left:-450px;
    z-index: 1;

}

.ojosleft::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
}

.ojosleft::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 70px;
    height: 70px;
    background-color: #794600 ;
    border-radius: 50%;
}


.ojosright {
    width: 120px;
    height: 120px;
    background: white;
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    position: absolute;
    transform: rotate(45deg);
    margin-top: -200px;
    margin-left: -175px;
    z-index: 1;
}

.ojosright::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
}

.ojosright::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 70px;
    height: 70px;
    background-color: #794600 ;
    border-radius: 50%;
}


.nariz {
    width: 75px;
    height: 175px;
    background-color: #ffddab;
    position: absolute;
    border-radius: 49% 51% 49% 51% / 82% 83% 17% 18% ;
    z-index: 1;
}

.boca {
    width: 200px;
    height: 75px;
    background-color: #f56b99;
    position:absolute;
    border-radius: 49% 51% 48% 52% / 18% 24% 76% 82% ;
    margin-top: 380px;
    z-index: 1;

}

.boca::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 10px;
    width: 180px;
    border-radius: 52% 48% 48% 52% / 0% 0% 100% 100% ;
    background-color: #9b1b46;
    animation: boca2 1s infinite;
}

.bigote {
    width: 200px;
    height: 40px;
    background-color: black;
    position: absolute;
    border-radius: 50% 50% 0% 100% / 100% 100% 0% 0% ;
    margin-top: 250px;
    z-index: 1;
}

.orejaright {
    width: 200px;
    height: 50px;
    background-color: #ffddab;
    position: absolute;
    border-radius: 20% 80% 0% 100% / 100% 100% 0% 0% ;
    transform: rotate(90deg);
    margin-left: -75px;
    margin-top: -50px;
    z-index: 1;
}

.orejaleft {
    width: 200px;
    height: 50px;
    background-color: #ffddab;
    position: absolute;
    border-radius: 80% 20% 0% 100% / 100% 100% 0% 0%  ;
    transform: rotate(-90deg);
    margin-left: -625px;
    margin-top: -50px;
    z-index: 1;
}

.orejaright::after{
    content: '';
    position: absolute;
    top: 25px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100px;
    height: 25px;
    background-color: #fdca7c;
    border-radius:20% 80% 0% 100% / 100% 100% 0% 0% ;
    
}

.orejaleft::after{
    content: '';
    position: absolute;
    top: 25px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100px;
    height: 25px;
    background-color: #fdca7c;
    border-radius:80% 20% 0% 100% / 100% 100% 0% 0% ;
    
}


.cuello {
    position: absolute;
    background-color:#ffddab;
    width: 150px;
    height: 250px;
    margin-top: 850px;
    
}

.pecho {
    background-image: url(lynx.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    background-color: white;
    width: 300px;
    height: 300px;
    margin-top: 1200px;
    border-radius: 50px 50px 0 0;
}


.brazo {
    width: 500px;
    height: 75px;
    background-color: white;
    position: absolute;
    margin-top: 975px;
    margin-left: 600px;
    border-radius: 0 50px 50px 0;
    animation: brazo 1s infinite;
}

.lata {
    width: 100px;
    height: 170px;
    background-image: url(lata.png);
    background-color: #aaa;
    position: absolute;
    z-index: 1;
    margin-top: 975px;
    margin-left: 950px;
    animation: lata 1s infinite;
    
}

@keyframes lata {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg)
    }
}

@keyframes brazo {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg)
    }
}